.credit-title {
  font-family: "Nunito Sans", sans-serif;
  color: #7b34b1;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

.text-muted {
  font-family: "Nunito Sans", sans-serif;
  padding-top: 0.25rem;
  font-weight: 200;
  color: #212529;
}
