.btn-cta {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  background-color: #04a79e !important;
  border: unset !important;
}

.btn-cta:hover {
  background-color: #6c757d !important;
}
