.hero {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center top;
}
